.contact {
  background-color: #fafafa;
  padding: 40px 0;
  @media screen and (max-width: 800px) {
    padding-left: 31px;
    padding-right: 31px;
  }
  &-container {
    margin: 0 auto;
    padding-right: 55px;
    display: flex;
    max-width: 1050px;
    width: 100%;
    justify-content: space-between;
    @media screen and (max-width: 1080px) {
      width: 95%;
    }
    @media screen and (max-width: 800px) {
      flex-direction: column;
      padding: 0;
    }
  }
  &-info h4 {
    font-size: 24px;
    margin-bottom: 10px;
    @media screen and (max-width: 800px) {
      text-align: start;
    }
  }
  &-info p {
    @media screen and (max-width: 800px) {
      text-align: start;
      margin-bottom: 50px;
    }
  }
  &-btn {
    max-width: 160px;
    width: 100%;
    @media screen and (max-width: 800px) {
      width: 100%;
      max-width: 283px;
      }
    }
  }